## Algoritmos de otimização

Descrição: A plataforma smarttbot é uma empresa de tecnologia especializada em investimento automatizado na bolsa de valores. Ela possibilita que investidores escolham estratégias que são formadas por indicadores  e configurem parâmetros dos principais indicadores do mercado, existem diversas estratégias, mas o escopo desse projeto vai considerar a tangram. Os parâmetros  
Objetivo: Encontrar os melhores parâmetros da estratégia que retornem um maior lucro.

In [100]:
#importação das bibliotecas
import time
import random
import math
import pandas as pd
import numpy as np
import chardet

In [101]:
#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
#Serão constantes
ticket = 'WIN'                                     #papel negociado
direction_operations = 'comprado&vendido'          #operações possiveis: compra e venda a descoberto
amount_orders = 1                                  #quantidade de ordens 
start_time = '09:00'                               #horário inicial
end_time = '17:00'                                 #horário limite de operação
#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
#Serão variáveis
time_frame = 1                   #tempo gráfico em min

In [102]:
# carregando os dados
with open('M4.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

base = pd.read_csv('M4.csv', encoding=result['encoding'],dtype='unicode')

colunas = ['Data','Hora', 'open', 'high', 'low', 'close','VOL']
base = base[colunas][1:200]
base.head()

         Data   Hora      open      high       low     close     VOL
1  2014.10.20  09:15  56265.00  56270.00  56250.00  56260.00   65.00
2  2014.10.20  09:16  56260.00  56290.00  56250.00  56290.00   80.00
3  2014.10.20  09:17  56285.00  56300.00  56270.00  56270.00  124.00
4  2014.10.20  09:18  56280.00  56290.00  56270.00  56285.00   25.00
5  2014.10.20  09:19  56290.00  56375.00  56290.00  56335.00  237.00

In [132]:
#Calculando alguns dos indicadores para alteração de parâmetros
class Indicators():
    def __init__(self,name='indicators'):
        self.name = name    
    def sma(self,data,period,column='close'):
        sma_ = pd.Series(data[column].rolling(period).mean(),name ='SMA'+str(period))
        return data.join(sma_)
    def ema(self,data,period,column='close'):
        data['EMA'+str(period)]=data[column].ewm(ignore_na=False,min_periods=period,com=period,adjust=True).mean()
        return data
    def macd(self,data,period_long=26,period_short=12,period_signal=9,column='close'):
        remove_cols = []
        if not 'EMA'+str(period_long) in data.columns:
            data = self.ema(data,period_long)
            remove_cols.append('EMA'+str(period_long))
            
        if not 'EMA'+str(period_short) in data.columns:
            data = self.ema(data, period_short)
            remove_cols.append('EMA' + str(period_short))
    
        data['macd_val'] = data['EMA' + str(period_short)] - data['EMA' + str(period_long)]
        data['macd_signal_line'] = data['macd_val'].ewm(ignore_na=False, min_periods=0, com=period_signal, adjust=True).mean()
        data = data.drop(remove_cols, axis=1)
        return data
    def bands(self,data, trend_periods=20, deviation=2, column='close'):
        data['bol_bands_middle'] = data[column].ewm(ignore_na=False, min_periods=0, com=trend_periods, adjust=True).mean()
        for index, row in data.iterrows():
            s = data[column].iloc[index - trend_periods: index]
            sums = 0
            middle_band = data.at[index, 'bol_bands_middle']
            for e in s:
                #e = float(e)
                #print('verificacao:',e,middle_band,type(e),type(middle_band))
                #print('----------------------')
                sums += np.square(e - middle_band)
            
            std = np.sqrt(sums / trend_periods)
            
            upper_band = middle_band + (deviation * std)
            lower_band = middle_band - (deviation * std)
            
            data.at[index,'bol_bands_upper']= upper_band
            data.at[index,'bol_bands_lower']= lower_band
        return data
    def ifr(self,data,period=14):
        delta = data['close'].diff().dropna()
        u = delta * 0
        d = u.copy()
        u[delta > 0] = delta[delta > 0]
        d[delta < 0] = -delta[delta < 0]
        u = u.ewm(span=period,min_periods=0,adjust=False).mean() #first value is sum of avg gains
        d = d.ewm(span=period,min_periods=0,adjust=False).mean() #first value is sum of avg losses
        data['IFR']=1 - 1 / (1 + u/d)
        return data
    def vwap(self,data):
        vol = data.VOL.values
        price = data.close.values
        data['VWAP'] = (vol*price).cumsum()/vol.cumsum()
        return data

In [136]:
# Instância do objeto Indicators, calculando os valores dos indicadores
indicators = Indicators()
base1 = base[['open', 'high', 'low', 'close','VOL']].astype(float)
base1 = indicators.sma(base1,3)
base1 = indicators.ema(base1,6)
base1 = indicators.macd(base1,26,12,9)
base1 = indicators.bands(base1,20,2)
base1 = indicators.ifr(base1,14)
base1 = indicators.vwap(base1)
base1 = base1.dropna()
base1.head(10)

,open,high,low,close,VOL,SMA3,EMA6,macd_val,macd_signal_line,bol_bands_middle,bol_bands_upper,bol_bands_lower,IFR,VWAP
26,56080.0,56100.0,56015.0,56020.0,265.0,56065.000000,56126.225254,-24.413831,-24.413831,56176.127521,56374.521030,55977.734013,0.278147,56182.510740
27,56020.0,56060.0,56020.0,56050.0,98.0,56046.666667,56115.163644,-26.140895,-25.322812,56167.924204,56357.750978,55978.097431,0.357465,56179.308261
28,56050.0,56060.0,56030.0,56060.0,60.0,56043.333333,56107.176493,-27.264924,-26.039458,56161.025018,56332.402683,55989.647353,0.383518,56177.568651
29,56055.0,56085.0,56045.0,56055.0,88.0,56055.000000,56099.636427,-28.304578,-26.698115,56154.355992,56299.858190,56008.853794,0.374752,56175.002379
30,56050.0,56060.0,56035.0,56050.0,27.0,56055.000000,56092.475269,-29.271206,-27.326449,56147.890747,56284.585017,56011.196478,0.365122,56174.204492
31,56035.0,56035.0,55995.0,56005.0,306.0,56036.666667,56079.872852,-31.384015,-28.192416,56139.163236,56268.836914,56009.489559,0.288211,56162.789903
32,56005.0,56010.0,55955.0,55990.0,155.0,56015.000000,56066.940682,-33.592627,-29.227528,56130.173606,56261.441651,55998.905561,0.266611,56157.080580
33,55985.0,55995.0,55930.0,55940.0,109.0,55978.333333,56048.693592,-36.964306,-30.585971,56118.855552,56263.858365,55973.852739,0.206956,56152.151042
34,55930.0,56020.0,55930.0,55990.0,262.0,55973.333333,56040.264165,-38.252765,-31.837530,56111.276950,56258.495907,55964.057992,0.369688,56143.758396
35,56005.0,56040.0,55980.0,55995.0,148.0,55975.000000,56033.768378,-39.109452,-32.954017,56104.513872,56251.009402,55958.018342,0.384267,56139.532630