## Algoritmos de otimização

Descrição: A plataforma smarttbot é uma empresa de tecnologia especializada em investimento automatizado na bolsa de valores. Ela possibilita que investidores escolham estratégias que são formadas por indicadores  e configurem parâmetros dos principais indicadores do mercado, existem diversas estratégias, mas o escopo desse projeto vai considerar a tangram. Os parâmetros  
Objetivo: Encontrar os melhores parâmetros da estratégia que retornem um maior lucro.

In [5]:
#importação das bibliotecas
import time
import random
import math
import pandas as pd
import chardet

In [2]:
#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
#Serão constantes
ticket = 'WIN'                                     #papel negociado
direction_operations = 'comprado&vendido'          #operações possiveis: compra e venda a descoberto
amount_orders = 1                                  #quantidade de ordens 
start_time = '09:00'                               #horário inicial
end_time = '17:00'                                 #horário limite de operação
#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
#Serão variáveis
time_frame = 1                   #tempo gráfico em min

In [29]:
# carregando os dados
with open('M4.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

base = pd.read_csv('M4.csv', encoding=result['encoding'],dtype='unicode')

colunas = ['Data','Hora', 'open', 'high', 'low', 'close','VOL']
base = base[colunas]
base.head()

         Data   Hora      open      high       low     close     VOL
0  2014.10.20  09:14  56220.00  56275.00  56220.00  56275.00  142.00
1  2014.10.20  09:15  56265.00  56270.00  56250.00  56260.00   65.00
2  2014.10.20  09:16  56260.00  56290.00  56250.00  56290.00   80.00
3  2014.10.20  09:17  56285.00  56300.00  56270.00  56270.00  124.00
4  2014.10.20  09:18  56280.00  56290.00  56270.00  56285.00   25.00

In [14]:
#primeiro passo é criar um ambiente que simule a plataforma da smarttbot
print(base.columns)
base[-910:-340].values

Index(['Data', 'Hora', 'open', 'high', 'low', 'close', 'dif', 'retacao +',
       'retracao -', 'RSI', 'M22M44', 'M22M66', 'M66M44', 'ADX', 'ATR',
       'Momentum', 'Force', 'OBV', 'VOL', 'CCI', 'Bears', 'Bulls', 'Stock1',
       'Stock2', 'Wilians', 'Std', 'Acumulacao', 'MFI', 'band1', 'band2',
       'band3'],
      dtype='object')

array([['2020.12.18', '09:07', 118250.0, ..., 118572.25, 119090.89,
        118053.61],
       ['2020.12.18', '09:08', 118310.0, ..., 118560.75, 119081.73,
        118039.77],
       ['2020.12.18', '09:09', 118420.0, ..., 118549.75, 119069.91,
        118029.59],
       ...,
       ['2020.12.21', '09:11', 115775.0, ..., 117096.25, 119260.45,
        114932.05],
       ['2020.12.21', '09:12', 115790.0, ..., 116980.75, 119147.83,
        114813.67],
       ['2020.12.21', '09:13', 115865.0, ..., 116865.5, 119010.26,
        114720.74]], dtype=object)